[submodule "deeplab"]
	path = deeplab
	url = git@github.com:VainF/DeepLabV3Plus-Pytorch.git
[submodule "depth_anything_v2"]
	path = depth_anything_v2
	url = git@github.com:DepthAnything/Depth-Anything-V2
[submodule "oneformer"]
	path = oneformer
	url = git@github.com:SHI-Labs/OneFormer.git
