numpy
pycocoevalcap
datasets
huggingface_hub
transformers==4.46.3
accelerate==0.26.0
google-generativeai
torch==2.5.1
torchvision==0.20.1
pytorch-lightning
datasets
peft==0.14.0
diffusers
omegaconf
typer
dataclasses-json
xFormers
deepspeed==0.16.2
mpi4py
liger-kernel
scipy
gdown